<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Удаление данных</h1>
    <p class="lead">Вы уверены, что хотите удалить компьютер?</p>
    <button class="btn btn-danger" (click)="deleteClassroom(id)">Да</button>
    <button routerLink="/computers" class="btn btn-info">Нет</button>
  </div>
</div>

<div *ngIf="deleted==true">
  <h2>Компьютер успешно удален</h2> <br>
  <button routerLink="/computers" class="btn btn-success">Вернуться к списку компьютеров</button>
</div>
