<form [formGroup]="form" (ngSubmit)="changeComputer()">
  <div hidden class="form-group">
    <label for="inputId">ID</label>
    <input formControlName="id" class="form-control" id="inputId">
  </div>
  <div class="form-group">
    <label for="inputName">Инвентарный номер</label>
    <input formControlName="inventoryNum" class="form-control" id="inputName" >
  </div>
  <div class="form-group">
    <label for="inputMonMan">Производитель монитора</label>
    <input formControlName="monitorManufacturer" class="form-control" id="inputMonMan" >
  </div>
  <div class="form-group">
    <label for="inputDiagonal">Размер диагонали монитора</label>
    <input formControlName="diagonalSize" class="form-control" id="inputDiagonal" >
  </div>
  <div class="form-group">
    <label for="inputSerial">Серийный номер</label>
    <input formControlName="serialNum" class="form-control" id="inputSerial">
  </div>
  <div class="form-group">
    <label for="inputAmo">Амортизация</label>
    <input formControlName="amortization" class="form-control" id="inputAmo">
    <button (click)="checkAmort(form)" type="button" class="btn btn-outline-info btn-sm">Проверить статус амортизации</button>
  </div>
  <div class="form-group">
    <label for="inputWeight">Вес</label>
    <input formControlName="weight" class="form-control" id="inputWeight" >
  </div>
  <div class="form-group">
    <label for="inputPrice">Цена</label>
    <input formControlName="price" class="form-control" id="inputPrice">
  </div>
  <div class="form-group">
    <label for="inputDateBegin">Дата начала эксплуатации</label>
    <input formControlName="dateBegin" class="form-control" id="inputDateBegin">
  </div>
  <div class="form-group">
    <label for="inputDateEnd">Дата окончания эксплуатации</label>
    <input formControlName="dateEnd" class="form-control" id="inputDateEnd" [(ngModel)]="dateEnd" >
  </div>
  <div class="form-group">
    <label for="inputMan">Производитель</label>
    <input formControlName="manufacturer" class="form-control" id="inputMan">
  </div>
  <div class="form-group">
  <label for="inputModel">Название модели</label>
  <input formControlName="modelName" class="form-control" id="inputModel">
</div>
  <div class="form-group">
    <label for="inputCPU">Процессор</label>
    <input formControlName="cpu" class="form-control" id="inputCPU" >
  </div>
  <div class="form-group">
    <label for="inputCM">Частота процессора</label>
    <input formControlName="cpuMemory" class="form-control" id="inputCM">
  </div>
  <div class="form-group">
    <label for="inputCore">Количество ядер</label>
    <input formControlName="coreNum" class="form-control" id="inputCore">
  </div>
  <div class="form-group">
    <label for="inputRam">ОЗУ</label>
    <input formControlName="ram" class="form-control" id="inputRam" >
  </div>
  <div class="form-group">
    <label for="inputRT">Тип ОЗУ</label>
    <input formControlName="ramType" class="form-control" id="inputRT">
  </div>
  <div class="form-group">
    <label for="inputHard">Память ЖД</label>
    <input formControlName="hdd" class="form-control" id="inputHard">
  </div>
  <div class="form-group">
    <label for="inputVideo">Видеокарта</label>
    <input formControlName="video" class="form-control" id="inputVideo" >
  </div>
  <div class="form-group">
    <label for="inputVM">Память видеокарты</label>
    <input formControlName="videoNum" class="form-control" id="inputVM">
  </div>
  <div class="form-group">
    <label for="inputOS">Операционная система</label>
    <input formControlName="os" class="form-control" id="inputOS">
  </div>

  <div class="form-group">
    <label for="inputStatus">Статус</label>
    <select formControlName="status" class="custom-select" id="inputGroupSelect01">
      <option id="inputStatus" *ngFor="let s of statuses | statusFilter:dateEnd" value={{s.Id}}>
        {{s.Name}}
      </option>
    </select>
    <small style="color: red" *ngIf="form.get('status').invalid" >Поле не должно быть пустым</small>
  </div>
  <div class="form-group">
    <label for="inputEmp">Ответственный</label>
    <select formControlName="employee" class="custom-select" id="inputGroupSelect02">
      <option id="inputEmp" *ngFor="let e of employees" value={{e.Id}}>
        {{e.Name}}
      </option>
    </select>
    <small style="color: red" *ngIf="form.get('employee').invalid" >Поле не должно быть пустым</small>
  </div>
  <div class="form-group">
    <label for="inputRoom">Место установки</label>
    <select formControlName="classroom" class="custom-select" id="inputGroupSelect03">
      <option id="inputRoom" *ngFor="let cr of classrooms" value={{cr.Id}}>
        {{cr.Name}}
      </option>
    </select>
    <small style="color: red" *ngIf="form.get('classroom').invalid" >Поле не должно быть пустым</small>
  </div>

  <button [disabled]="form.get('classroom').invalid || form.get('status').invalid || form.get('employee').invalid"
          type="submit" class="btn btn-primary">Сохранить</button>
</form>

<div *ngIf="edited==true">
  <h2>Данные о компьютере успешно изменены</h2> <br>
  <button routerLink="/computers" class="btn btn-success">Вернуться к списку компьютеров</button>
</div>

