<form [formGroup]="form" (ngSubmit)="addEmployee()">
  <h1>Форма добавления сотрудника</h1>
  <hr>
  <div hidden class="form-group">
    <label for="inputId">ID</label>
    <input formControlName="id" class="form-control" id="inputId">
  </div>
  <div class="form-group">
    <label for="inputName">Имя</label>
    <input formControlName="name" class="form-control" id="inputName" >
  </div>
  <div class="form-group">
    <label for="inputFac">Факультет</label>
    <input formControlName="faculty" class="form-control" id="inputFac">
  </div>
  <div class="form-group">
    <label for="inputFunc">Должность</label>
    <input formControlName="function" class="form-control" id="inputFunc">
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
  <hr>
</form>

<div *ngIf="added==true">
  <h2>Сотрудник успешно добавлен</h2> <br>
  <button routerLink="/employees" class="btn btn-success">Вернуться к списку сотрудников</button>
</div>
