<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="checkbox">
  <label class="custom-control-label" for="customCheck1">Режим фильтрации</label>
</div>
<br>
<div *ngIf="checkbox == true">
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Критерии фильтрации
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="custom-control custom-radio">
          <input value="status" [(ngModel)]="pipeStatus" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">По статусу</label>
        </div>
        <div class="custom-control custom-radio">
          <input value="room" [(ngModel)]="pipeRoom" type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">По помещению</label>
        </div>
        <div class="custom-control custom-radio">
          <input value="employee" [(ngModel)]="pipeEmployee" type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio3">По ответственному</label>
        </div>
      </div>
    </div>
  </div>
  <input type="text" class="form-control" [(ngModel)]="pipeForStatus">
</div>

<hr>

<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Инвентаризационный номер</th>
    <th scope="col">Статус</th>
    <th scope="col">Место установки</th>
    <th scope="col">Ответственный</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of computers | computerFilter:pipeForStatus:fieldName">
    <td>{{c.Id}}</td>
    <td>{{c.InventoryNum}}</td>
    <td>{{c.status}}</td>
    <td>{{c.classroom}}</td>
    <td colspan="3">{{c.employee}}</td>
    <button routerLink="/editComputer"
            [queryParams] = "{
            id: c.Id,
            inventoryNum: c.InventoryNum,
            monitorManufacturer: c.MonitorManufacturer,
            diagonalSize: c.DiagonalSize,
            serialNum: c.SerialNum,
            amortization: c.Amortization,
            weight: c.Weight,
            price: c.Price,
            dateBegin: c.DateBegin,
            dateEnd: c.DateEnd,
            manufacturer: c.Manufacturer,
            modelName: c.ModelName,
            cpu: c.CPU,
            cpuMemory: c.CPUMemory,
            coreNum: c.CoreNum,
            ram: c.RAM,
            ramType: c.RAMType,
            hdd: c.HDD,
            video: c.Video,
            videoNum: c.VideoNum,
            os: c.OS,
            statusName: c.status,
            employeeName: c.employee,
            classroom: c.classroom
            }"
            class="btn btn-outline-info btn-sm" style="margin-right: 5px;">Изменить</button>
    <button routerLink="/deleteComputer" [queryParams]="{id: c.Id, name: c.InventoryNum}" class="btn btn-outline-danger btn-sm">Удалить</button>
  </tr>
  </tbody>
</table>
