<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Удаление данных</h1>
    <p class="lead">Вы уверены, что хотите удалить помещение {{name}}?</p>
    <button class="btn btn-danger" (click)="deleteClassroom(id)">Да</button>
    <button routerLink="/rooms" class="btn btn-info">Нет</button>
  </div>
</div>

<div *ngIf="deleted==true">
  <h2>Помещение успешно удалено</h2> <br>
  <button routerLink="/rooms" class="btn btn-success">Вернуться к списку помещений</button>
</div>

