<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Удаление данных</h1>
    <p class="lead">Вы уверены, что хотите удалить сотрудника {{name}}?</p>
    <button class="btn btn-danger" (click)="deleteEmployee(id)">Да</button>
    <button routerLink="/employees" class="btn btn-info">Нет</button>
  </div>
</div>

<div *ngIf="deleted==true">
  <h2>Сотрудник успешно удален</h2> <br>
  <button routerLink="/employees" class="btn btn-success">Вернуться к списку сотрудников</button>
</div>
