<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">ФИО</th>
    <th scope="col">Факультет</th>
    <th scope="col">Должность</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of employee">
    <td>{{e.Id}}</td>
    <td>{{e.Name}}</td>
    <td>{{e.Faculty}}</td>
    <td colspan="3">{{e.Function}}</td>
    <button routerLink="/editEmployee"
            [queryParams] = "{id: e.Id, name: e.Name, faculty: e.Faculty, function: e.Function}"
            class="btn btn-outline-info btn-sm" style="margin-right: 5px;">Изменить</button>
    <button routerLink="/deleteEmployee" [queryParams]="{id: e.Id, name: e.Name}" class="btn btn-outline-danger btn-sm">Удалить</button>
  </tr>
  </tbody>
</table>
