<form [formGroup]="form" (ngSubmit)="changeRoom()">
  <div hidden class="form-group">
    <label for="inputId">ID</label>
    <input formControlName="id" class="form-control" id="inputId">
  </div>
  <div class="form-group">
    <label for="inputName">Название</label>
    <input formControlName="name" class="form-control" id="inputName" >
  </div>
  <div class="form-group">
    <label for="inputFac">Тип</label>
    <input formControlName="type" class="form-control" id="inputFac">
  </div>
  <div class="form-group">
    <label for="inputFunc">Название блока</label>
    <select formControlName="block" class="custom-select" id="inputGroupSelect01">
      <option id="inputFunc" *ngFor="let b of blocks" value={{b.Id}}>
        {{b.Name}}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<div *ngIf="edited==true">
  <h2>Данные о помещении изменены</h2> <br>
  <button routerLink="/rooms" class="btn btn-success">Вернуться к списку помещений</button>
</div>
