<form [formGroup]="form" (ngSubmit)="changeEmployee()">
  <div hidden class="form-group">
    <label for="inputId">ID</label>
    <input formControlName="id" class="form-control" id="inputId">
  </div>
  <div class="form-group">
    <label for="inputName">Имя</label>
    <input formControlName="name" class="form-control" id="inputName" >
  </div>
  <div class="form-group">
    <label for="inputFac">Факультет</label>
    <input formControlName="faculty" class="form-control" id="inputFac">
  </div>
  <div class="form-group">
    <label for="inputFunc">Должность</label>
    <input formControlName="function" class="form-control" id="inputFunc">
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<div *ngIf="edited==true">
  <h2>Данные о сотруднике изменены</h2> <br>
  <button routerLink="/employees" class="btn btn-success">Вернуться к списку сотрудников</button>
</div>
