<p>Это веб-приложение создано для инвентарного учета компьютеров находящихся на балансе факультета Университета.</p>
<p>Основная навигационная панель веб-приложения содержит три побочных окна - <mark>"Сотрудники"</mark>, <mark>"Помещения"</mark> и <mark>"Компьютеры"</mark>.</p>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <mark>Сотрудники</mark> - содержит в себе две вкладки: "Посмотреть список" и "Добавить сотрудника"
    "Посмотреть список" располагает в себе таблицу с информацией о сотрудниках факультета и их должностях.
  </li>
  <li class="list-group-item">
    <mark>Помещения</mark> - содержит в себе две вкладки: "Посмотреть список" и "Добавить помещение"
    "Посмотреть список" содержит в себе информацию об элементах аудиторного фонда факультета.
  </li>
  <li class="list-group-item">
    <mark>Компьютеры</mark> - содержит в себе две вкладки: "Посмотреть список" и "Добавить компьютер"
    "Посмотреть список" хранит в себе таблицу с информацией по всем имеющимся в базе данных компьютерам, в том числе и тем, которые ещё не стоят на учете или уже с него сняты.
  </li>
</ul>
<p>Веб-приложение позволяет в каждом из списков <u>удалять</u> и <u>редактировать</u> элементы списка, а также каждая из вкладок разрешает
<u>добавить</u> новый элемент.</p>

<p>(С) Самсонов Владислав и Казбекова Луиза, 2018
</p>
