<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Название</th>
    <th scope="col">Тип</th>
    <th scope="col">Имя блока</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of rooms">
    <td>{{r.Id}}</td>
    <td>{{r.Name}}</td>
    <td>{{r.Type}}</td>
    <td colspan="3">{{r.Block}}</td>
    <button routerLink="/editRoom"
            [queryParams] = "{id: r.Id, name: r.Name, type: r.Type, blockName: r.Block}"
            class="btn btn-outline-info btn-sm" style="margin-right: 5px;">Изменить</button>
    <button routerLink="/deleteRoom" [queryParams]="{id: r.Id, name: r.Name}" class="btn btn-outline-danger btn-sm">Удалить</button>
  </tr>
  </tbody>
</table>
